li{
    float:left;
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    background-color: red;
}
ul{
    background-color: solid black;
    width: 90%;
}
.maindiv{
    clear: both;
    background-color: red;
}
.footer{
    background-color: darkolivegreen;
}
