<div class="categories">
  <ng-container *ngIf='categories'>

    <button (click)="print()">click me</button>
    <div *ngFor="let category of categories.data">
      <br/>
      <a (click)='abc(category.category_id)'>
        {{category.category_name}}
      </a>
    </div>
  </ng-container>
</div>
<div class="homecontent">Home content<br/>
  <img src="http://localhost/NGdecotechcraftsAPIs/admin/carousel_images/img2.jpg"/>
  <br/>

  <div class='box'>
    <ng-container *ngIf='posts'>
      <div *ngFor="let post of posts.data">
        <p>
          {{post.post_title}}<br/>
          <img [src]='"http://localhost/NGdecotechcraftsAPIs/admin/uploads/"+post.post_image'/><br/>
          {{post.post_content}} <a [routerLink]="['/readmore',post.post_id]">Read more...</a>
        </p>
      </div>
    </ng-container>
  </div>
  <p *ngIf="servicesubscriber">
    <a (click)='jkl()'>dabaao</a>
  </p>
</div>
